<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_UAS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.example.pembayaran.tes"
            android:exported="false" />
        <activity
            android:name="com.example.splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityPetugas"
            android:exported="true" />
        <activity
            android:name=".simpanPetugas"
            android:exported="true" />
        <activity
            android:name=".EditDataActivityPetugas"
            android:exported="true" />
        <activity
            android:name="com.example.pelanggan.ActivityPelanggan"
            android:exported="true" />
        <activity
            android:name="com.example.pelanggan.simpanPelanggan"
            android:exported="true" />
        <activity
            android:name="com.example.pelanggan.EditDataActivityPelanggan"
            android:exported="true" />
        <activity
            android:name="com.example.layanan.ActivityLayanan"
            android:exported="true" />
        <activity
            android:name="com.example.layanan.simpanLayanan"
            android:exported="true" />
        <activity
            android:name="com.example.kain.ActivityKain"
            android:exported="true" />
        <activity
            android:name="com.example.kain.simpanKain"
            android:exported="true" />
        <activity
            android:name="com.example.kain.EditDataActivityKain"
            android:exported="true" />
        <activity
            android:name="com.example.layanan.EditDataActivityLayanan"
            android:exported="true" />
        <activity
            android:name="com.example.transaksi.ActivityPesanJasa"
            android:exported="true" />
        <activity
            android:name="com.example.transaksi.simpanPesananJasa"
            android:exported="true" />
        <activity
            android:name="com.example.transaksi.EditDataActivityPesanJasa"
            android:exported="true" />
        <activity
            android:name="com.example.pembayaran.ActivityPembayaran"
            android:exported="true" />
        <activity
            android:name="com.example.pembayaran.simpanPembayaran"
            android:exported="true" />
        <activity
            android:name="com.example.pembayaran.EditDataActivityPembayaran"
            android:exported="true" />
    </application>

</manifest>